.portfolio_container{
  margin-right: 3rem;
  display: flex;
  gap: 4rem;
}

.portfolio_item{
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio_item:hover{
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio_item-image{
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio_item h3{
  margin: 1.5rem 0 1.8rem;
  color: #93FDDD;
}

.portfolio_item-cta{
  display: flex;
  gap: 1rem;
}

.portfolio_scroll{
  display: flex;
  overflow-x: auto;
  ;
}


/* ======== Media Queries (Medium Devices) ========== */
@media screen and (min-width: 600px){
  .portfolio_container{
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0;
  }
  .portfolio_scroll{
    margin: 0 4rem 0 4rem;
  }
  .spacer{
    flex: 0 0 1rem;
  }
}

/* ======== Media Queries (Small Devices) ========== */

@media screen and (max-width: 600px){
  .portfolio_container{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .spacer{
    flex: 0 0 1rem;
  }
}

/* ======== Media Queries (Large Devices) ========== */
@media screen and (min-width: 1024px){
  .portfolio_container{
    margin-left: 2.4rem;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
  }
  .portfolio_scroll{
    margin: 0 8rem 0 8rem;
  }
  .spacer{
    flex: 0 0 0;
  }
}