footer{
  background: rgb(19,65,66);
  background: linear-gradient(180deg, rgba(19,65,66,1) 0%, rgba(5,30,32,1) 100%);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

footer a{
  color: var(--color-bg);
}

.footer_logo{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
  color: #94FFDF;
}

.footer-para{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer_links{
  color: #94FFDF;
}

.footer_socials{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer_socials a{
  background: #94FFDF;
  color: var(--color-bg);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer_socials a:hover{
  background: transparent;
  color: white;
  border-color: #94FFDF;
}

.footer_copyright{
  margin-bottom: 4rem;
  color: #94FFDF;
}

/* ======== Media Queries (Small Devices) ========== */

@media screen and (max-width: 600px){
  .permalinks{
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer_socials{
    margin-bottom: 2.6rem;
  }
}